<h1>new Author</h1>
<form action="/authors" method="post">
    <%- include("_form_fields") -%> 
    <label for="name"></label>
    <a href="/authors">cancel</a>
    <button type="submit">Create</button>
</form>